/* 禁止选中并且兼容 */
*.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: rgb(200,200,200);
}

.ar {
  width: 350px;
  height: 150px;
  float: right;
}

.indexbt {
  margin: 20px auto 0;
  padding: 0px 5px;
  line-height: 60px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

.funcbt{
  margin: 10px auto;
  line-height: 30px;
  width: 150px;
  height: 30px;
}

.bt:hover {
  background-color: rgb(48, 134, 161);
}

.bt:active {
  transform: translateY(10px);
}

.bt {
  border-radius: 20px;
  display: block;
  color: white;
  background-color: rgb(79, 199, 236);
  box-shadow: 0px 4px 0px 0px rgb(59, 148, 176);
  transition: all .3s;
  /* 取消烦人的按钮立体样式 */
  border: none;
  /* 取消烦人的选中边框样式 */
  outline:none;
}

.errorbut {
  white-space:nowrap;
  width: 300px;
  background-color : rgb(233,72,85);
  box-shadow : 0px 4px 0px 0px rgb(156,23,33);
    transition: all .6s;
}

.errorbut:hover {
  background-color : rgb(232,48,62);
}

@keyframes shake {
  33% {transform: translate(10px);}
  66% {transform: translate(-10px);}
}

.errorbut:active {
  animation: shake .5s;
}

.panel{
  position: absolute;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 6px 6px 0px 1px rgba(2, 2, 3, .48);
  /* 面板适应屏幕居中 */
  top: 50%;
  left: 50%;
  transition: all .3s;
}

.sidebut{
  right: 5%;
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  transition: all .3s;
  z-index: 80;
  color: white;
  /* 取消烦人的选中边框样式 */
  outline:none;
}


.subtitle{
  display: block;
  line-height: 40px;
  margin: 0 auto;
  border-bottom: black 5px solid;
  height: 40px;
  width: 900px;
  text-align: center;
  font-size: 25px;
}

.introduce{
  display: block;
  line-height: 30px;
  margin: 10px auto 0;
  width: 900px;
  text-align: center;
  font-size: 18px;
}

.clearfix::after{
  /*添加空白内容*/
  content: "";
  /*转换为块元素*/
  display: block;
  /*清除浮动*/
  clear: both;
}


.fold{
  visibility : hidden;
  opacity: 0;
  height: 0px;
  transition: all .5s;
}

.unfold{
  visibility : visible;
  opacity: 1;
  height: 500px;
  transition: all .5s;
}

.mapRow{
  display: inline-block;
  margin: 5px;
  width: 450px;
  height: 30px;
  font-size: 20px;
}
