.curtain{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* 这个渲染比较耗费性能 */
  /* background-color: rgba(200,200,200, .7); */
  position: fixed;
  visibility: hidden;
  /*display: none;*/
  opacity: 0;
  transition: all .25s;
  z-index: 90;
}

.msgpanel{
  position: fixed;
  margin: 0 auto;
  top: 150px;
  left: 0;
  right: 0;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  box-shadow: 3px 3px 5px 2px rgb(80,80,80);
  z-index: 100;
}

.ptitle{
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 70%;
  height: 20%;
  border-bottom: black 3px solid;
}

#p2{
  transition: all .25s;
  transform: scale(.65, .65);
}

.pexit{
  text-decoration: none;
  position: absolute;
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 20px;
  background-color: rgb(131,49,49);
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px rgb(171,125,129);
  transition: all .3s;
}
.pexit:hover{
  background-color: rgb(187,83,83);
}
.pexit:active{
  transform: translateY(5px);
}
.pmessage{
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 15%;
  width: 70%;
  text-align: center;
}
.pbt{
  font-family: Microsoft YaHei Light;
  text-align: center;
  width: 150px;
  margin: 10px auto;
  color: white;
  display: block;
  background-color: rgb(79, 199, 236);
  box-shadow: 0px 4px 0px 0px rgb(59, 148, 176);
  border-radius: 10px;
  transition: all .1s;
  /* 取消烦人的按钮立体样式 */
  border: none;
  /* 取消烦人的选中边框样式 */
  outline:none;
}
.pbt:hover{
  background-color: rgb(48, 134, 161);
}
.pbt:active{
  transform: translateY(4px);
}


.hidePanel{
  transform: translate(-50%, -50%) scale(.55, .55);
  visibility : hidden;
  opacity: 0;
}

.showPanel{
  transform: translate(-50%, -50%) scale(1, 1);
  visibility : visible;
  opacity: 1;
}
