.curtain{
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  /* 这个渲染比较耗费性能 */
  /* background-color: rgba(200,200,200, .7); */
  position: absolute;
  transition: all .35s;
  z-index: 50;
}

.msgpanel{
  position: absolute;
  margin: 0 auto;
  /* 面板适应屏幕居中 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(255,255,255);
  box-shadow: 3px 3px 5px 2px rgb(80,80,80);
  z-index: 99;
}

.ptitle{
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 70%;
  height: 20%;
  border-bottom: black 3px solid;
}

.pexit{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.pmessage{
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 15%;
  width: 70%;
  text-align: center;
}


.hidePanel{
  transform: translate(-50%, -50%) scale(.55, .55);
  visibility : hidden;
  opacity: 0;
}

.showPanel{
  transform: translate(-50%, -50%) scale(1, 1);
  visibility : visible;
  opacity: 1;
}

.showSettingPanel{
  transform: translate(-50%, -150%) scale(1, 1);
  visibility : visible;
  opacity: 1;
}

.pexitUnable{
  background-color: rgb(112,112,112);
  box-shadow: 0px 4px 0px 0px rgb(89,89,89);
}

.pexitUnable:hover{
  background-color: rgb(96,96,96);
}
